In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("diabetes.csv")

In [3]:
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [4]:
X = df.drop("Outcome", axis=1)

In [ ]:
X.describe()

       Pregnancies     Glucose  ...  DiabetesPedigreeFunction         Age
count   768.000000  768.000000  ...                768.000000  768.000000
mean      3.845052  120.894531  ...                  0.471876   33.240885
std       3.369578   31.972618  ...                  0.331329   11.760232
min       0.000000    0.000000  ...                  0.078000   21.000000
25%       1.000000   99.000000  ...                  0.243750   24.000000
50%       3.000000  117.000000  ...                  0.372500   29.000000
75%       6.000000  140.250000  ...                  0.626250   41.000000
max      17.000000  199.000000  ...                  2.420000   81.000000

[8 rows x 8 columns]

In [ ]:
X.head()

   Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0            6      148             72  ...  33.6                     0.627   50
1            1       85             66  ...  26.6                     0.351   31
2            8      183             64  ...  23.3                     0.672   32
3            1       89             66  ...  28.1                     0.167   21
4            0      137             40  ...  43.1                     2.288   33

[5 rows x 8 columns]

In [5]:
y = df.Outcome

In [6]:
from sklearn.tree import DecisionTreeClassifier
# instantiate the model (using the default parameters)
clf = DecisionTreeClassifier()

In [7]:
print(clf)

DecisionTreeClassifier()

**Model evaluation procedures**

Evaluation procedure #1: Train and test on the entire dataset

In [8]:
# fit the model with data
clf = clf.fit(X, y)

In [11]:
# store the predicted response values
y_pred = clf.predict(X)

In [12]:
from sklearn import metrics
print(metrics.accuracy_score(y, y_pred))

1.0

Evaluation procedure #2: Train/test split

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=2)

In [14]:
# fit the model with data
clf = clf.fit(X_train, y_train)

In [16]:
y_pred = clf.predict(X_test)

In [18]:
print(metrics.accuracy_score(y_test, y_pred))

0.672077922077922

Evaluation procedure #3: Cross-validation

In [20]:
from sklearn.model_selection import cross_val_score

# 10-fold cross-validation
scores = cross_val_score(clf, X, y, cv=10, scoring='accuracy')
print(scores)

[0.68831169 0.72727273 0.71428571 0.58441558 0.71428571 0.7012987
 0.83116883 0.76623377 0.64473684 0.77631579]

In [22]:
print(scores.mean())

0.7148325358851675

In [23]:
# predict for multiple observations at once
X_new = [[1,85,66,28,0,27.6,0.351,31]]
clf.predict(X_new)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([0])