In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("1000_Companies.csv")

In [3]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [9]:
X = df.drop("Profit", axis=1)

In [10]:
X = X.drop("State", axis=1)

In [11]:
X.head()

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1  162597.70       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41       118671.85        383199.62
4  142107.34        91391.77        366168.42

In [12]:
y = df.Profit

In [13]:
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [14]:
from sklearn import linear_model

In [15]:
# instantiate the model (using the default parameters)
linear = linear_model.LinearRegression()

In [16]:
# fit the model with data
linear.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [17]:
# equation coefficient and Intercept
print('Coefficient: \n', linear.coef_)
print('Intercept: \n', linear.intercept_)

Coefficient:
 [0.55393228 1.02663516 0.08057015]
Intercept:
 -70157.32512037746

In [19]:
X_new = [[15000, 12000, 5000]]

In [20]:
# predict the response for new observations
linear.predict(X_new)

array([-49125.86833643])